name: DVWA Security Scan

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  sonar:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.2

      - name: SonarCloud Scan
        uses: sonarsource/sonarqube-scan-action@v6
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            -Dsonar.projectKey=dvwa22
            -Dsonar.organization=dvwa22
            -Dsonar.sources=.
            -Dsonar.exclusions=config/**,docs/**,tests/**
            -Dsonar.host.url=https://sonarcloud.io
            -Dsonar.login=${{ secrets.SONAR_TOKEN }}
            -Dsonar.branch.name=master

      - name: Run OWASP Dependency Check (SCA)
        uses: dependency-check/Dependency-Check_Action@main
        id: Depcheck
        with:
          project: 'NodeApp'
          path: '.'
          format: 'HTML'
          out: 'reports'
          args: '--exclude **/passwordProtected.zip --exclude **/arbitraryFileWrite.zip --exclude **/videoExploit.zip'

      - name: Contextual Risk Scoring
        run: |
          python scripts/risk_score.py reports/*.json context/config.yaml > risk_report.md

      - name: Upload Risk Report
        uses: actions/upload-artifact@v3
        with:
          name: Risk_Scoring_Report
          path: risk_report.md

      - name: Upload Security Reports
        uses: actions/upload-artifact@master
        with:
          name: OWASP_Dependency-Check_SCA_Scan_Reports
          path: ${{ github.workspace }}/reports
